<h1>試合基本情報編集</h1>
<h3>基本情報編集</h3>
    <%= form_for(@input, :url => { controller:'games', action:'update'})do |f| %>
        <%= f.label :日付 %>
        <%= f.text_field :date, :size => 5 %> 
        <%= f.submit "編集する" %>

        <%= f.label :場所 %>
        <%= f.text_field :place, :size => 5 %> 
        <%= f.submit "編集する" %>

        <%= f.label :大会名 %>
        <%= f.text_field :game_name, :size => 5 %> 
        <%= f.submit "編集する" %>

        <%= f.label :性別 %>
        <div class="field">
            <%= f.select :gender, 
            [["男"],["女"]], include_blank: "選択して下さい" %>
        </div>
        <%= f.submit "編集する" %>

        <%= f.label :回戦%>
        <%= f.text_field :game_round, :size => 5 %> 
        <%= f.submit "編集する" %>

        <%= f.label :種別 %>
        <%= f.text_field :age, :size => 5 %> 
        <%= f.submit "編集する" %>
    <% end %>
    
<%= link_to 'スコア経過に戻る', games_path %>


