<% if @ourmember %>
    <h3>メンバー編集</h3>
        <%= form_for(@ourmember, :url => { controller:'ourmembers', action:'update'})do |f| %>
            <%= f.label :背番号 %>
            <%= f.text_field :back_number, :size => 5 %> 
            <%= f.label :メンバー氏名 %>
            <%= f.text_field :name, :size => 30 %> 
            <%= f.submit "編集する" %>
        <% end %>
<% end %>


<% if @ourexective %>
<h3>役員編集</h3>
    <%= form_for(@ourexective, :url => { controller:'ourexectives', action:'update'})do |f| %>
        <%= f.label :役員ランク %>
        <%= f.select :rank, 
            [["A"],["B"],["C"],["D"]], include_blank: "選択して下さい" %>
        <%= f.label :役員氏名 %>
        <%= f.text_field :name, :size => 30 %> 
        <%= f.submit "編集する" %>
    <% end %>
<% end %>


<%= link_to "メンバー一覧に戻る", ourmembers_path %>
