<%= stylesheet_link_tag 'ourmembers-edit', :media => "all" %>


<div class="container">
    <div class="row ">
        <div class="col">
            <ul class="sidenav">
                <li><a class="active" href="#top"><%= link_to 'トップページ', statics_index_path %></a></li>
                <li><a href="#handball"><%= link_to "ハンドボールとは？",statics_about_path %></a></li>
                <li><a href="#score"><%= link_to "スコアについて",statics_score_path %></a></li>
                <li><a href="#score-index"><%= link_to "スコア一覧",homes_path %></a></li>
                <li><a href="#member"><%= link_to "マイチームメンバー",ourmembers_path %></a></li>
            <ul>
        </div> 

        <div class="col-9">
            <% if @ourmember %>
                <h3>メンバー編集</h3>
                <%= form_for(@ourmember, :url => { controller:'ourmembers', action:'update'})do |f| %>
                <div class="member1">
                    <%= f.label :背番号 %>
                    <%= f.number_field :back_number, :size => 5 %> 
                    <%= f.label :メンバー氏名 %>
                    <%= f.text_field :name, :size => 30 %> 
                </div>
                <div class="member2">
                    <%= f.submit "編集する" %>
                </div>
                <% end %>
            <% end %>


            <% if @ourexective %>
                <h3>役員編集</h3>
                <%= form_for(@ourexective, :url => { controller:'ourexectives', action:'update'})do |f| %>
                <div class="member1">
                    <%= f.label :役員ランク %>
                    <%= f.select :rank, 
                        [["役員A"],["役員B"],["役員C"],["役員D"]], include_blank: "選択して下さい" %>
                    <%= f.label :役員氏名 %>
                    <%= f.text_field :name, :size => 30 %> 
                </div>
                <div class="member2">
                    <%= f.submit "編集する" %>
                </div>
                <% end %>
            <% end %>
        </div>

    </div>
</div>  



