<h1>スコア</h1>
  <%= link_to 'ホームに戻る', homes_path %>
  <%= link_to 'メンバーを編集する', ourmembers_path %>


<h3>試合基本情報</h3>
  <div class="box">
      <%= @input_show.date%>   
      <%= @input_show.place%>
      <%= @input_show.game_name%>
      <%= @input_show.game_round%>
      <%= @input_show.gender%>
      <%= @input_show.age%>
  </div>

<h3>マイチームメンバー一覧</h3>
  <% @ourmembers.each do |t| %>
    <div class="box">
        <%= t.back_number %>   
        <%= t.name%>
    </div>
  <% end %>

  <% @ourexectives.each do |t| %>
    <div class="box">
        <%= t.rank %>   
        <%= t.name%>
    </div>
  <% end %>


<%# 敵チームメンバー登録，表示と入力%>
<h3>相手チームメンバー一覧</h3>
  <% @gamemembers.each do |t| %>
    <div class="box">
        <%= t.back_number %>   
        <%= t.name%>
        <%= link_to "編集", edit_gamemember_path(t.id) %>
        <%= link_to "削除", gamemember_path(t.id), method: :delete %>
    </div>
  <% end %>

  <% @gameexectives.each do |t| %>
    <div class="box">
        <%= t.rank %>   
        <%= t.name%>
        <%= link_to "編集", edit_gameexective_path(t.id) %>
        <%= link_to "削除", gameexective_path(t.id), method: :delete %>
    </div>
  <% end %>


<h3>相手チームメンバー登録</h3>
  <%= form_for(@gamemember, :url => { controller:'gamemembers', action:'create'})do |f| %>
      <%= f.hidden_field :input_id,value: params[:id]%>

      <%= f.label :背番号 %>
      <div class="field">
          <%= f.number_field :back_number,size: 5%>
      </div>
      <%= f.label :氏名 %>
      <div class="field">
          <%= f.text_field :name, size: 10%>
      </div>
      <%= f.submit "登録"%>
  <% end %>


  <%= form_for(@gameexective, :url => { controller:'gameexectives', action:'create'})do |f| %>
      <%= f.hidden_field :input_id,value: params[:id]%>

      <%= f.label :役員ランク %>
      <div class="field">
          <%= f.select :rank, 
          [["A"],["B"],["C"],["D"]], include_blank: "選択して下さい" %>
      </div>
      <%= f.label :氏名 %>
      <div class="field">
          <%= f.text_field :name, size: 10%>
      </div>
      <%= f.submit "登録"%>
  <% end %>




<h3>スコア経過</h3>
  <% @games.each do |t| %>
      <div class="main-box">
          <div class="left-container"><%= t.time%></div>
          <div class="middle-left-container"><%= t.back_number %></div>
          <div class="middle-right-container"><%= t.action %></div>
          <div class="right-container">
                  <%= link_to "編集", edit_game_path(t.id) %>
                  <%= link_to "削除", game_path(t.id), method: :delete %>
          </div>
      </div>
  <% end %>

<h3>タイムアウト</h3>
  <% @timeouts.each do |t| %>
      <div class="main-box">
          <div class="left-container"><%= t.time%></div>
          <div class="middle-left-container"><%= t.our%></div>
          <div class="middle-right-container"><%= t.order %></div>
          <div class="right-container">
                  <%= link_to "編集", edit_timeout_path(t.id) %>
                  <%= link_to "削除", timeout_path(t.id), method: :delete %>
          </div>
      </div>
  <% end %>


<h3>スコア入力</h3>
  <%= form_for(@game, :url => { controller:'games', action:'create'})do |f| %>
      <%= f.hidden_field :input_id,value: params[:id]%>
      <%= f.label :時間 %>
      <div class="field">
          <%= f.time_field :time,size: 10%>
      </div>
      <%= f.label :背番号 %>
      <div class="field">
          <%= f.number_field :back_number,size: 5%>
      </div>
      <%= f.label :アクション %>
      <div class="field">
          <%= f.select :action, 
          [["得点"],["警告"],["2分間退場"],["失格"]], include_blank: "選択して下さい" %>
      </div>
      <%= f.submit "登録"%>
  <% end %>


<h3>タイムアウト</h3>
  <%= form_for(@timeout, :url => { controller:'timeouts', action:'create'})do |f| %>
      <%= f.hidden_field :input_id,value: params[:id]%>
      <%= f.label :時間 %>
      <div class="field">
          <%= f.time_field :time,size: 10%>
      </div>
      <%= f.label :回数 %>
      <div class="field">
          <%= f.number_field :order ,size: 5%>
      </div>
      <%= f.label :チーム選択 %>
      <div class="field">
          <%= f.select :our ,
          [["マイチーム"],["相手チーム"]], include_blank:"選択してください" %>
      </div>
      <%= f.submit "登録"%>
  <% end %>





<%# 以下タイマー機能 %>
<h3>タイマー</h3>
<form name="timer">
<input type="text" value="">分
<input type="text" value="">秒<br>
<input type="button" value="スタート" onclick="cntStart()">
<input type="button" value="ストップ" onclick="cntStop()">
</form>


<script>
var timer1; //タイマーを格納する変数（タイマーID）の宣言


//カウントダウン関数を1000ミリ秒毎に呼び出す関数
function cntStart()
{
  document.timer.elements[2].disabled=true;
  timer1=setInterval("countDown()",1000);
}

//タイマー停止関数
function cntStop()
{
  document.timer.elements[2].disabled=false;
  clearInterval(timer1);
}

//カウントダウン関数
function countDown()
{
  var min=document.timer.elements[0].value;
  var sec=document.timer.elements[1].value;
  
  if( (min=="") && (sec=="") )
  {
    alert("時刻を設定してください！");
    reSet();
  }
  else
  {
    if (min=="") min=0;
    min=parseInt(min);
    
    if (sec=="") sec=0;
    sec=parseInt(sec);
    
    tmWrite(min*60+sec-1);
  }
}

//残り時間を書き出す関数
function tmWrite(int)
{
  int=parseInt(int);
  
  if (int<=0)
  {
    reSet();
    alert("時間です！");
  }
  else
  {
    //残り分数はintを60で割って切り捨てる
    document.timer.elements[0].value=Math.floor(int/60);
    //残り秒数はintを60で割った余り
    document.timer.elements[1].value=int % 60;
  }
}

//フォームを初期状態に戻す（リセット）関数
function reSet()
{
  document.timer.elements[0].value="0";
  document.timer.elements[1].value="0";
  document.timer.elements[2].disabled=false;
  clearInterval(timer1);
}  
  
</script>
