<h1>スコア</h1>
    <% @games.each do |t| %>
        <div class="main-box">
            <div class="left-container"><%= t.time%></div>
            <div class="middle-left-container"><%= t.back_number %></div>
            <div class="middle-right-container"><%= t.action %></div>
            <div class="right-container">
                    <%= link_to "編集", edit_game_path(t.id) %>
                    <%= link_to "削除", game_path(t.id), method: :delete %>
            </div>
        </div>
    <% end %>


    <% @inputs.each do |t| %>
        <div class="date">
            <div class="left-container"><%= t.date%></div>
            <div class="right-container">
                <%= link_to "編集", edit_game_path(t.id) %>
                <%= link_to "削除", game_path(t.id), method: :delete %>
            </div>
        </div>

        <div class="place">
            <div class="left-container"><%= t.place%></div>
            <div class="right-container">
                <%= link_to "編集", edit_game_path(t.id) %>
                <%= link_to "削除", game_path(t.id), method: :delete %>
            </div>
        </div>

        <div class="game_name">
            <div class="left-container"><%= t.game_name%></div>
            <div class="right-container">
                <%= link_to "編集", edit_game_path(t.id) %>
                <%= link_to "削除", game_path(t.id), method: :delete %>
            </div>
        </div>

        <div class="date">
            <div class="left-container"><%= t.date%></div>
            <div class="right-container">
                <%= link_to "編集", edit_game_path(t.id) %>
                <%= link_to "削除", game_path(t.id), method: :delete %>
            </div>
        </div>

        <div class="gender">
            <div class="left-container"><%= t.gender%></div>
            <div class="right-container">
                <%= link_to "編集", edit_game_path(t.id) %>
                <%= link_to "削除", game_path(t.id), method: :delete %>
            </div>
        </div>
    <% end %>


    <%= form_for(@input, :url => { controller:'inputs', action:'create'})do |f| %>
        <%= f.label :日付 %>
            <div class="field">
                <%= f.text_field :date,size: 5%>
            </div>
        <%= f.label :場所 %>
            <div class="field">
                <%= f.text_field :place,size: 15%>
            </div>
        <%= f.label :大会名 %>
            <div class="field">
                <%= f.text_field :game_name,size: 15%>
            </div>
        <%= f.label :性別 %>
            <div class="field">
                <%= f.select :gender, 
                [["男"],["女"]], include_blank: "選択して下さい" %>
            </div>

        <%= f.label :回戦 %>
            <div class="field">
                <%= f.text_field :game_round,size: 10%>
            </div>
        <%= f.label :種別 %>
            <div class="field">
                <%= f.text_field :age,size: 10%>
            </div>
        <%= f.submit "登録"%>
    <%end%>


    <%= form_for(@game, :url => { controller:'games', action:'create'})do |f| %>
        <%= f.label :時間 %>
        <div class="field">
            <%= f.text_field :time,size: 10%>
        </div>
        <%= f.label :背番号 %>
        <div class="field">
            <%= f.text_field :back_number,size: 5%>
        </div>
        <%= f.label :アクション %>
        <div class="field">
            <%= f.select :action, 
            [["得点"],["警告"],["2分間退場"],["失格"]], include_blank: "選択して下さい" %>
        </div>
        <%= f.submit "登録"%>
    <% end %>




    



<%= link_to 'ホームに戻る', homes_path %>
<%# <%= link_to 'スコア編集', edit_game_path(t.id) %> 



