<%= stylesheet_link_tag "games-index", :media => "all" %>

<div class="container">
    <div class="row ">
        <div class="col">
            <ul class="sidenav">
                <li><a class="active" href="#top"><%= link_to 'トップページ', statics_index_path %></a></li>
                <li><a href="#handball"><%= link_to "ハンドボールとは？",statics_about_path %></a></li>
                <li><a href="#score"><%= link_to "スコアについて",statics_score_path %></a></li>
                <li><a href="#score-index"><%= link_to "スコア一覧",homes_path %></a></li>
                <li><a href="#member"><%= link_to "マイチームメンバー",ourmembers_path %></a></li>
            <ul>
        </div> 


        <div class="col-9">
          <h3>スコア</h3>
          <div class="home-link">
              <%= link_to "スコア一覧に戻る",homes_path %>
          </div>
            <div class="input">
                <%= @input_show.date%>   
                <%= @input_show.place%>
                <%= @input_show.game_name%>
                <%= @input_show.game_round%>
                <%= @input_show.gender%>
                <%= @input_show.age%>
            </div>
          
          <%# 以下タイマー機能 %>
          <div class="timer">
            <form name="timer">
            <input type="text" value="">分
            <input type="text" value="">秒<br>
            <div class="button">
              <div class="start">
                <input type="button" value="スタート" onclick="cntStart()">
              </div> 
              <div class="stop"> 
                <input type="button" value="ストップ" onclick="cntStop()">
              </div>
            </div>
            </form>


            <script>
            var timer1; //タイマーを格納する変数（タイマーID）の宣言


            //カウントダウン関数を1000ミリ秒毎に呼び出す関数
            function cntStart()
            {
              document.timer.elements[2].disabled=true;
              timer1=setInterval("countDown()",1000);
            }

            //タイマー停止関数
            function cntStop()
            {
              document.timer.elements[2].disabled=false;
              clearInterval(timer1);
            }

            //カウントダウン関数
            function countDown()
            {
              var min=document.timer.elements[0].value;
              var sec=document.timer.elements[1].value;
              
              if( (min=="") && (sec=="") )
              {
                alert("時刻を設定してください！");
                reSet();
              }
              else
              {
                if (min=="") min=0;
                min=parseInt(min);
                
                if (sec=="") sec=0;
                sec=parseInt(sec);
                
                tmWrite(min*60+sec-1);
              }
            }

            //残り時間を書き出す関数
            function tmWrite(int)
            {
              int=parseInt(int);
              
              if (int<=0)
              {
                reSet();
                alert("時間です！");
              }
              else
              {
                //残り分数はintを60で割って切り捨てる
                document.timer.elements[0].value=Math.floor(int/60);
                //残り秒数はintを60で割った余り
                document.timer.elements[1].value=int % 60;
              }
            }

            //フォームを初期状態に戻す（リセット）関数
            function reSet()
            {
              document.timer.elements[0].value="0";
              document.timer.elements[1].value="0";
              document.timer.elements[2].disabled=false;
              clearInterval(timer1);
            }  
              
            </script>
          </div>
          <%# タイマー終了 %>

          <div class="row justify-content-around">
            <div class="col-3">
              <%# 敵チームメンバー登録，表示と入力%>
              <h5>ゲームメンバー一覧</h5>
              <h7>Aチーム</h7>
              <table class="gamemember-table" border="1" width="100%">
                <tr>
                  <th>背番号</th>
                  <th>名前</th>
                  <th></th>
                </tr>
                <% @gamemembers.where(our: "Aチーム").each do |t| %>
                <tr>
                  <td width="10%"><%= t.back_number %></td>
                  <td><%= t.name%></td>
                  <td width="40%">
                    <%= link_to "編集", edit_game_path(gamemember_id: t.id, id: t.id) %>
                    <%= link_to "削除", gamemember_path(t.id), method: :delete %>
                  </td>
                </tr>
                <% end %>
              </table>

              <h7>Bチーム</h7>
              <table class="gamemember-table" border="1" width="100%">
                <tr>
                  <th>背番号</th>
                  <th>名前</th>
                  <th></th>
                </tr>
                <% @gamemembers.where(our: "Bチーム").each do |t| %>
                <tr>
                  <td width="10%"><%= t.back_number %></td>
                  <td><%= t.name%></td>
                  <td width="40%">
                    <%= link_to "編集", edit_game_path(gamemember_id: t.id, id: t.id) %>
                    <%= link_to "削除", gamemember_path(t.id), method: :delete %>
                  </td>
                </tr>
                <% end %>
              </table>
              

              
              <h5>役員一覧</h5>
              <h7>Aチーム</h7>
              <table class="gameexective-table" border="1" width="100%">
                <tr>
                  <th>ランク</th>
                  <th>名前</th>
                  <th></th>
                </tr>
                <% @gameexectives.where(our: "Aチーム").each do |t| %>
                <tr>
                  <td width="10%"><%= t.rank %> </td>
                  <td><%= t.name%></td>
                  <td width="40%">
                    <%= link_to "編集", edit_game_path(gameexective_id: t.id, id: t.id) %>
                    <%= link_to "削除", gameexective_path(t.id), method: :delete %>
                  </td>
                </tr>
                <% end %>
              </table>              
              <h7>Bチーム</h7>
              <table class="gameexective-table" border="1" width="100%">
                <tr>
                  <th >ランク</th>
                  <th>名前</th>
                  <th></th>
                </tr>
                <% @gameexectives.where(our: "Bチーム").each do |t| %>
                <tr>
                  <td width="10%"><%= t.rank %> </td>
                  <td><%= t.name%></td>
                  <td width="40%">
                    <%= link_to "編集", edit_game_path(gameexective_id: t.id, id: t.id) %>
                    <%= link_to "削除", gameexective_path(t.id), method: :delete %>
                  </td>
                </tr>
                <% end %>
              </table>              
            </div>


            <div class="col-3">
              <h5>スコア入力</h5>
              <%= form_for(@game, :url => { controller:'games', action:'create'})do |f| %>
              <div class="score-input">
                <div class="score-input1">
                  <%= f.hidden_field :input_id,value: params[:id]%>
                  <div class="score-input1-1">
                    <%= f.label :前半・後半  %>
                    <div class="field">
                        <%= f.select :half ,
                        [["前半"],["後半"]] %>
                    </div>
                  </div>
                  <div class="score-input1-2">
                    <%= f.label :チーム選択 %>
                    <div class="field">
                        <%= f.select :our ,
                        [["Aチーム"],["Bチーム"]] %>
                    </div>
                  </div>
                </div>

                <div class="score-input2">
                  <div class="score-input2-1">
                    <%= f.label :背番号 %>
                    <div class="field">
                        <%= f.number_field :back_number, autocomplete:"off" %>
                    </div>
                  </div>
                  <div class="score-input2-2">
                    <%= f.label :アクション %>
                    <div class="field">
                        <%= f.select :action, 
                        [["得点"],["警告"],["2分間退場"],["7mスロー得点"],["7mスロー失敗"],["失格"]] %>
                    </div>
                  </div>
                </div>

                <div class="score-input3">
                    <%= f.label :時間 %>
                    <div class="field">
                        <%= f.number_field :time_minute, min:0, max:30 %>:<%= f.number_field :time_second, min:00, max:59 %>
                    </div>
                </div>
                <div class="score-input4">
                    <%= f.submit "登録" %>
                </div>
                
              </div>
              <% end %>


              <h5>タイムアウト</h5>
              <%= form_for(@timeout, :url => { controller:'timeouts', action:'create'})do |f| %>
              <div class="timeout-input">
                  <%= f.hidden_field :input_id,value: params[:id]%>
                  <div class="timeout-input1">
                    <div class="timeout-input1-1">
                      <%= f.label :前半・後半選択 %>
                      <div class="field">
                          <%= f.select :half ,
                          [["前半"],["後半"]]  %>
                      </div>
                    </div>
                    <div class="timeout-input1-2">
                      <%= f.label :チーム選択 %>
                      <div class="field">
                          <%= f.select :our ,
                          [["Aチーム"],["Bチーム"]] %>
                      </div>
                    </div>
                  </div>
                  <div class="timeout-input2">
                    <%= f.label :時間 %>
                    <div class="field">
                        <%= f.number_field :time_minute %>:<%= f.number_field :time_second %>
                    </div>
                  </div>
                  <div class="timeout-input3">
                    <%= f.submit "登録"%>
                  </div>
              </div>
              <% end %>


              
              <h5>ゲームメンバー登録</h5>
              <h7>メンバー登録</h7>
              <%= form_for(@gamemember, :url => { controller:'gamemembers', action:'create'})do |f| %>
              <div class="gamemember-input">
                <%= f.hidden_field :input_id,value: params[:id]%>
                <div class="gamemember-input1">
                  <div class="gamemember-input1-1">
                    <%= f.label :チーム選択 %>
                    <div class="field">
                        <%= f.select :our ,
                        [["Aチーム"],["Bチーム"]] %>
                    </div>
                  </div>
                  <div class="gamemember-input1-2">
                    <%= f.label :背番号 %>
                    <div class="field">
                        <%= f.number_field :back_number, autocomplete:"off"%>
                    </div>
                  </div>
                </div>
                <div class="gamemember-input2">
                  <%= f.label :氏名 %>
                  <div class="field">
                      <%= f.text_field :name, list:"ourmember", autocomplete:"off" %>
                      <datalist id = "ourmember">
                      <%= @ourmembers.each do |t|%>
                      <option value="<%= t.name %>"></option>
                      <% end %>
                      </datalist> 
                  </div>
                </div>
                <div class="gamemember-input3">
                  <%= f.submit "登録"%>
                </div>
              </div>
              <% end %>


              <h7>役員登録</h7>
              <%= form_for(@gameexective, :url => { controller:'gameexectives', action:'create'})do |f| %>
              <div class="gameexective-input">
                  <%= f.hidden_field :input_id,value: params[:id]%>
                  <div class="gameexective-input1">
                    <div class="gameexective-input1-1">
                      <%= f.label :チーム選択 %>
                      <div class="field">
                          <%= f.select :our ,
                          [["Aチーム"],["Bチーム"]] %>
                      </div>
                    </div>
                    <div class="gameexective-input1-2">
                      <%= f.label :役員ランク %>
                      <div class="field">
                          <%= f.select :rank, 
                          [["役員A"],["役員B"],["役員C"],["役員D"]] %>
                      </div>
                    </div>
                  </div>
                  <div class="gameexective-input2">
                    <%= f.label :氏名 %>
                    <div class="field">
                        <%= f.text_field :name, list:"ourexective", autocomplete:"off" %>
                        <datalist id = "ourexective">
                        <%= @ourexectives.each do |t|%>
                        <option value="<%= t.name %>"></option>
                        <% end %>
                        </datalist> 
                    </div>
                  </div>
                  <div class="gameexective-input3">
                    <%= f.submit "登録"%>
                  </div>
              </div>
              <% end %>

            </div>










            <div class="col-5">
              <h5>スコア経過</h5>
              <h7>前半</h7>
              <table class="score-table" border="1" width="100%">
                <tr>
                  <th>番号</th>
                  <th>結果</th>
                  <th>得点</th>
                  <th>時間</th>
                  <th>得点</th>
                  <th>結果</th>
                  <th>番号</th>
                  <th></th>
                </tr>
                  
                <% a_point = 0 %>
                <% b_point = 0 %>
                <% @games.order("time_minute asc").where(half: "前半").each do |t| %>
                  <% if t.our =="Aチーム"%>
                  <tr>
                      <td width="5%"><%= t.back_number %></td>
                      <td width="20%"><%= t.action %></td>
                      <td width="5%">
                        <% if t.action == "得点"  %> 
                          <% a_point += 1 %>
                          <%= a_point %>
                        <% end %>
                      </td>
                      <td width="20%"><%= t.time_minute %>:<%= t.time_second %></td>
                      <td width="5%"></td>
                      <td width="20%"></td>
                      <td width="5%"></td>
                      <td width="20%">
                        <%= link_to "編集", edit_game_path(game_id: t.id, id: t.id) %>
                        <%= link_to "削除", game_path(t.id), method: :delete %>
                      </td>
                  </tr>
                  <% end %>

                  <% if t.our=="Bチーム"%>
                  <tr>
                      <td width="5%"></td>
                      <td width="20%"></td>
                      <td width="5%"></td>
                      <td width="20%"><%= t.time_minute %>:<%= t.time_second %></td>
                      <td width="5%">
                        <% if t.action == "得点" %> 
                          <% b_point += 1 %>
                          <%= b_point %>
                        <% end %>
                      </td>
                      <td width="20%"><%= t.action %></td>
                      <td width="5%"><%= t.back_number %></td>
                      <td width="20%">
                        <%= link_to "編集", edit_game_path(game_id: t.id, id: t.id) %>
                        <%= link_to "削除", game_path(t.id), method: :delete %>
                      </td>
                  </tr>
                  <% end %>
                <% end %>
              </table>


              <h7>後半</h7>
              <table class="score-table" border="1" width="100%">
                <tr>
                  <th>番号</th>
                  <th>結果</th>
                  <th>得点</th>
                  <th>時間</th>
                  <th>得点</th>
                  <th>結果</th>
                  <th>番号</th>
                  <th></th>
                </tr>
                  
                <% @games.order("time_minute asc").where(half: "後半").each do |t| %>
                  <% if t.our =="Aチーム"%>
                  <tr>
                      <td width="5%"><%= t.back_number %></td>
                      <td width="20%"><%= t.action %></td>
                      <td width="5%">
                        <% if t.action == "得点" %> 
                          <% a_point += 1 %>
                          <%= a_point %>
                        <% end %>
                      </td>
                      <td width="20%"><%= t.time_minute %>:<%= t.time_second %></td>
                      <td width="5%"></td>
                      <td width="20%"></td>
                      <td width="5%"></td>
                      <td width="20%">
                        <%= link_to "編集", edit_game_path(game_id: t.id, id: t.id) %>
                        <%= link_to "削除", game_path(t.id), method: :delete %>
                      </td>
                  </tr>
                  <% end %>

                  <% if t.our=="Bチーム"%>
                  <tr>
                      <td width="5%"></td>
                      <td width="20%"></td>
                      <td width="5%"></td>
                      <td width="20%"><%= t.time_minute %>:<%= t.time_second %></td>
                      <td width="5%" >
                        <% if t.action == "得点" %> 
                          <% b_point += 1 %>
                          <%= b_point %>
                        <% end %>
                      </td>
                      <td width="20%"><%= t.action %></td>
                      <td width="5%"><%= t.back_number %></td>
                      <td width="20%">
                        <%= link_to "編集", edit_game_path(game_id: t.id, id: t.id) %>
                        <%= link_to "削除", game_path(t.id), method: :delete %>
                      </td>
                  </tr>
                  <% end %>
                <% end %>
              </table>

              

              <h5>タイムアウト</h5>
              <h7>Aチーム</h7>
              <div class="timeoutA-table">
                <table class="timeoutA-table1" border="1" width="100%">
                  <tr>
                    <th style="height:20px;">前半</th>
                  </tr>
                  <% @timeouts.order("time_minute asc").where(our: "Aチーム", half:"前半").each do |t| %>
                  <tr>
                    <td><%= t.time_minute %>:<%= t.time_second %></td>
                  </tr>
                  <% end %>
                </table>

                <table class="timeoutA-table2" border="1" width="100%">
                  <tr>
                    <th style="height:20px;">後半</th>
                  </tr>
                  <% @timeouts.order("time_minute asc").where(our: "Aチーム",half:"後半").each do |t| %>
                  <tr>
                    <td><%= t.time_minute %>:<%= t.time_second %></td>
                  </tr>
                  <% end %>
                </table>
              </div>
              

              <h7>Bチーム</h7>
              <div class="timeoutB-table">
                <table class="timeoutB-table1" border="1" width="100%">
                  <tr>
                    <th style="height:20px;">前半</th>
                  </tr>
                  <% @timeouts.order("time_minute asc").where(our: "Bチーム", half:"前半").each do |t| %>
                  <tr>
                    <td><%= t.time_minute %>:<%= t.time_second %></td>
                  </tr>
                  <% end %>
                </table>

                <table class="timeoutB-table2" border="1" width="100%">
                  <tr>
                    <th style="height:20px;">後半</th>
                  </tr>
                  <% @timeouts.order("time_minute asc").where(our: "Bチーム",half:"後半").each do |t| %>
                  <tr>
                    <td><%= t.time_minute %>:<%= t.time_second %></td>
                  </tr>
                  <% end %>
                </table>
              </div>



        </div>
    </div>
</div>  




