<div class="container">
    <div class="row ">
        <div class="col">
            <ul class="sidenav">
                <li><a class="active" href="#top"><%= link_to 'トップページ', statics_index_path %></a></li>
                <li><a href="#handball"><%= link_to "ハンドボールとは？",statics_about_path %></a></li>
                <li><a href="#score"><%= link_to "スコアについて",statics_score_path %></a></li>
                <li><a href="#score-index"><%= link_to "スコア一覧",homes_path %></a></li>
                <li><a href="#member"><%= link_to "マイチームメンバー",ourmembers_path %></a></li>
            <ul>
        </div> 
        
        <div class="col-9">
            <h3>ハンドボールについて<h3>

            <p>そもそもハンドボールとは？</p>
            <a href= "https://ja.wikipedia.org/wiki/%E3%83%8F%E3%83%B3%E3%83%89%E3%83%9C%E3%83%BC%E3%83%AB" >wikipedia参照</a>

            <p>ハンドボールの基本的なルール</p>
            <a href= "https://handball8.com/handball-rule/" >基本的なルールについて詳しくはこちら</a>

            <p>ポジションについて</p>
            <a href= "https://handball-japan.com/note/321/">ポジションについて詳しくはこちら</a>

            <p>ハンドボールの動画（youtube）</p>
            <a href= "https://www.youtube.com/results?search_query=%E3%83%8F%E3%83%B3%E3%83%89%E3%83%9C%E3%83%BC%E3%83%AB" >ハンドボールの動画</a>
        </div>
    </div>
</div>  

