<%= stylesheet_link_tag 'statics-about', :media => "all" %>

<div class="container">
    <div class="row ">
        <div class="col">
            <ul class="sidenav">
                <li><a class="active" href="#top"><%= link_to 'トップページ', statics_index_path %></a></li>
                <li><a href="#handball"><%= link_to "ハンドボールとは？",statics_about_path %></a></li>
                <li><a href="#score"><%= link_to "スコアについて",statics_score_path %></a></li>
                <li><a href="#score-index"><%= link_to "スコア一覧",homes_path %></a></li>
                <li><a href="#member"><%= link_to "マイチームメンバー",ourmembers_path %></a></li>
            <ul>
        </div> 
        
        <div class="col-9">
            <div class="container0">
            <h3>ハンドボールについて<h3>
            </div>

            <div class="container1">
                <h5>そもそもハンドボールとは？</h5>
                <div class="container1-thema">
                    <p>「ハンドボールってそもそも知らない」よって方も少なくないと思います（このサイト利用者にはほぼいないと思いますが（笑））。そのため、簡単にですがハンドボールについて紹介です。</p>
                    <div class="container1-main">
                        <p> 7人ずつ2つのチームに分かれて1個のボールを手で扱い、相手のゴールに投げ入れて得点を競うチームスポーツ、サッカー（フットサル）から
                        派生したスポーツであるが、手で扱うためバスケットボールのような側面もある（Wikipedia参照)。</p>
                    </div>
                </div>
                <p>ハンドボールは<mark>サッカーとバスケが合わさったようなスポーツ</mark>だと思ってもらえればイメージしやすいと思います！</p>
            </div>

            <div class="container2">
                <p>ハンドボールの基本的なルールやポジションについては以下の外部リンクを参照ください</p>
                <a href= "https://handball8.com/handball-rule/" >基本的なルール</a>
                <a href= "https://handball-japan.com/note/321/">ポジションについて</a>
            </div>

            <div class="container3">
                <p>ハンドボールの実際のプレー映像は非常にダイナミックでかっこいいです！</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/BGQqM6xG0uw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>ハンドボールの動画</iframe>
                <p>さらに気になる方は以下のリンクからyoutubeへ！</p>
                <a href= "https://www.youtube.com/results?search_query=%E3%83%8F%E3%83%B3%E3%83%89%E3%83%9C%E3%83%BC%E3%83%AB" >https://www.youtube.com/results?search_query=%E3%83%8F%E3%83%B3%E3%83%89%E3%83%9C%E3%83%BC%E3%83%AB</a>
            </div>
        </div>
    </div>
</div>  

