<%= stylesheet_link_tag 'statics-score', :media => "all" %>

<div class="container">
    <div class="row ">
        <div class="col">
            <ul class="sidenav">
                <li><a class="active" href="#top"><%= link_to 'トップページ', statics_index_path %></a></li>
                <li><a href="#handball"><%= link_to "ハンドボールとは？",statics_about_path %></a></li>
                <li><a href="#score"><%= link_to "スコアについて",statics_score_path %></a></li>
                <li><a href="#score-index"><%= link_to "スコア一覧",homes_path %></a></li>
                <li><a href="#member"><%= link_to "マイチームメンバー",ourmembers_path %></a></li>
            <ul>
        </div> 

        <div class="col-9">
            <h3>スコアについて<h3>
            <div class="container1">
                <h5>ハンドボールのスコアは非常に見づらい</h5>
                <div class="container1-main">
                    <p>スコアを書いたことがある人なら分かると思いますが、ハンドボールのスコアは非常にわかりにくく、面倒なんです！
                    慣れた人でもミスが起きやすいぐらいです、実際のスコアを見ればその複雑さがよくわかります。</p>
                </div>
                <iframe src="https://s3.amazonaws.com/paraban/notice/handball_scoresheet.pdf" >実際のスコア</iframe>
                <div class="container1-end">
                <h5>すごく見づらいですよね</h5>
                <p>このような背景から簡単にスコアが作成できるといいなあと考え、このサイトを作成しました！</p>
                </div>
            </div>
        </div>
    </div>
</div>  







