<h3>メンバー編集</h3>
    <%= form_for(@members3, :url => { controller:'members', action:'update'})do |f| %>
        <%= f.label :背番号 %>
        <%= f.text_field :back_number, :size => 5 %> 
        <%= f.submit "編集する" %>

        <%= f.label :メンバー氏名 %>
        <%= f.text_field :name, :size => 30 %> 
        <%= f.submit "編集する" %>
    <% end %>


<%= link_to "メンバー一覧に戻る", members_path %>
